<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedexLtlQuoteSetting>
            <third>
                <fedexLtlQuoteServices>FEDEX_FREIGHT_ECONOMY,FEDEX_FREIGHT_PRIORITY</fedexLtlQuoteServices>
                <fedexLtlDiscounts>negotiate</fedexLtlDiscounts>
            </third>
        </fedexLtlQuoteSetting>

        <carriers>
            <ENFedExLTL>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <price>0</price>
                <model>Eniture\FedExLTLFreightQuotes\Model\Carrier\FedExLTLShipping</model>
                <allowed_methods>FEDEX_FREIGHT_ECONOMY,FEDEX_FREIGHT_PRIORITY</allowed_methods>
                <name>Fixed</name>
                <title>Fedex LTL Freight Quotes</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.
                </specificerrmsg>
            </ENFedExLTL>
        </carriers>
    </default>
</config>
